<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LicenseServer" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mydomain/path/adminengine.cgi" binding="basicHttpBinding"
          bindingConfiguration="LicenseServer" contract="lmadmin_service.LicenseServerPortType"
          name="LicenseServer" />
    </client>
  </system.serviceModel>
  
  
  <appSettings>
    <add key="lmadmin_host" value="192.168.136.145"></add>
    <add key="lmadmin_port" value="8090"/>
    <add key="lmadmin_store_file" value="lmadmin_monitor_id.txt"/>
    <add key="lmadmin_interval" value="10000"/>
    <add key="alert_types" value="VENDOR_DAEMON_DOWN"/>

    <add key="send_email" value="false"/>
    <add key="email_host" value="smtp.exstream.com"/>
    <add key="email_port" value="25"/>
    <add key="email_from" value="lmadminmonitor@hpexstream.com"/>
    <add key="email_to" value="operator@hpexstream.com"/>
    <add key="email_username" value=""/>
    <add key="email_password" value=""/>
    <add key="email_ssl" value="false"/>

  </appSettings>
</configuration>